{% extends 'base.html' %}

{% block content %}
    <form action="create" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="c">Company</label>
            <input type="text" class="form-control" id="c" name="company"
                   placeholder="Enter company">
            <label for="t">Title</label>
            <input type="text" class="form-control" id="t" name="title"
                   placeholder="Enter Title">
            <label for="ci">City</label>
            <input type="text" class="form-control" id="ci" name="city"
                   placeholder="Enter City">
            <label for="s">Street</label>
            <input type="text" class="form-control" id="s" name="street"
                   placeholder="Enter Street">
            <button type="submit" class="btn btn-primary m-2">Submit</button>
        </div>
    </form>
{% endblock %}